Repository Rukofamicom/Royale-Station-13, pull requests merged in 2023-03, with the labels that each got.

#4 Minor tweaks and more config
  code/__DEFINES/metacoin.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/events.dm
  code/controllers/subsystem/processing/orbits.dm
  code/controllers/subsystem/ticker.dm
  code/game/gamemodes/battleroyale/royale.dm
  code/game/machinery/computer/communications.dm
  code/modules/admin/battle_royale.dm
  code/modules/antagonists/revenant/revenant_spawn_event.dm
  code/modules/events/abductor.dm
  code/modules/events/anomaly_bluespace.dm
  code/modules/events/beer_clog.dm
  code/modules/events/blob.dm
  code/modules/events/brain_trauma.dm
  code/modules/events/bureaucratic_error.dm
  code/modules/events/camerafailure.dm
  code/modules/events/carp_migration.dm
  code/modules/events/communications_blackout.dm
  code/modules/events/creep_awakening.dm
  code/modules/events/dolphin_migration.dm
  code/modules/events/dust.dm
  code/modules/events/false_alarm.dm
  code/modules/events/floorcluwne.dm
  code/modules/events/fugitive_spawning.dm
  code/modules/events/heart_attack.dm
  code/modules/events/high_priority_bounty.dm
  code/modules/events/immovable_rod.dm
  code/modules/events/ion_storm.dm
  code/modules/events/meateor_wave.dm
  code/modules/events/meteor_wave.dm
  code/modules/events/mice_migration.dm
  code/modules/events/nightmare.dm
  code/modules/events/operative.dm
  code/modules/events/pirates.dm
  code/modules/events/portal_storm.dm
  code/modules/events/prison_break.dm
  code/modules/events/processor_overload.dm
  code/modules/events/radiation_storm.dm
  code/modules/events/shuttle_loan.dm
  code/modules/events/spacevine.dm
  code/modules/events/spontaneous_appendicitis.dm
  code/modules/events/zombie_outbreak.dm
  code/modules/metacoin/metacoin.dm
  code/modules/security_levels/keycard_authentication.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_objects/space_station.dm
  config/admin_nicknames.json
  config/config.txt
  config/game_options.txt
  config/jobs.txt
  config/maps.txt
  config/mentors.txt
  config/performance.txt
  strings/sillytips.txt
  strings/tips.txt
Labels: Administration, Config Update

#6 Ports sniper rifle buff by Powerfulbacon
  beestation.dme
  code/game/objects/items/storage/briefcase.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/awaymissions/mission_code/TheFactory.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/projectiles/ammunition/ballistic/sniper.dm
  code/modules/projectiles/boxes_magazines/external/sniper.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/sniper.dm
  code/modules/projectiles/projectile/bullets/sniper.dm
  code/modules/ruins/lavaland_ruin_code.dm
  code/modules/spells/spell_types/rightandwrong.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/ammo.dmi
Labels: sprites

#7 Updating supply crates, part one
  code/game/gamemodes/clown_ops/clown_ops.dm
  code/game/mecha/combat/gygax.dm
  code/game/objects/items/holy_weapons.dm
  code/modules/admin/battle_royale.dm
  code/modules/client/loadout/loadout_equipment.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/cloaks.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/sniper.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/pulse.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Administration, sprites

#8 Supply crates 2
  code/game/objects/items/devices/geiger_counter.dm
  code/game/objects/items/dna_injector.dm
  code/modules/admin/battle_royale.dm
  code/modules/client/loadout/loadout_equipment.dm
  code/modules/jobs/job_types/fighter.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/projectiles/boxes_magazines/external/sniper.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/laser_gatling.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/misc/beam_rifle.dm
Labels: Administration

#9 Polish and tweaks
  code/game/gamemodes/battleroyale/royale.dm
  code/modules/admin/battle_royale.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/client/loadout/loadout_equipment.dm
  code/modules/client/loadout/loadout_uniform.dm
  code/modules/client/preferences.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/jobs/job_types/cyborg.dm
  code/modules/jobs/job_types/fighter.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  config/title_screens/images/mime_bleed_17x15.dmi
Labels: Administration, Config Update

#15 Debug tweaks
  code/__DEFINES/metacoin.dm
  code/game/gamemodes/battleroyale/royale.dm
  code/game/world.dm
  config/config.txt
Labels: Config Update

#21 Various requests + one fix
  code/game/gamemodes/battleroyale/royale.dm
  code/modules/admin/battle_royale.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/events/portal_storm.dm
Labels: Administration

#28 Fixes debug mode
  code/__DEFINES/metacoin.dm
  code/controllers/configuration/entries/general.dm
  code/game/gamemodes/battleroyale/royale.dm
  config/config.txt
Labels: Config Update

#29 Player eliminations are now broadcasted
  code/modules/mob/living/death.dm
  sound/misc/player_eliminated.ogg
Labels: sound

#41 Latejoins are now enabled
  code/controllers/subsystem/job.dm
  code/modules/admin/battle_royale.dm
Labels: Administration

#48 Adds shadowpeople
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  config/game_options.txt
Labels: Config Update

#61 Update various branding and theming
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
  code/_globalvars/configuration.dm
  html/changelog.html
  html/templates/header.html
  tgui/packages/tgui/assets/bg-beestation.svg
  tgui/packages/tgui/assets/bg-royalestation.png
  tgui/packages/tgui/interfaces/PlayerPanel.js
  tgui/packages/tgui/styles/themes/admin.scss
  tools/fetchContributors.py
Labels: GitHub, TGUI-Changes, tools

#58 Adds the conniver's switchblade
  code/game/objects/items/weaponry.dm
  code/modules/admin/battle_royale.dm
  code/modules/client/loadout/loadout_equipment.dm
Labels: Administration

#67 X4 and implant adjustments
  _maps/map_files/generic/CentCom.dmm
  code/game/gamemodes/battleroyale/royale.dm
  code/game/objects/items/grenades/plastic.dm
  code/game/objects/items/implants/implant_explosive.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/admin/battle_royale.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/ninja/outfit.dm
Labels: Administration, mapping

#60 Greatly improves player security
  code/datums/datumvars.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/player_panel.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/topic.dm
  code/modules/client/client_procs.dm
  code/modules/tgui_panel/telemetry.dm
Labels: Administration

#69 Explosions and fire
  code/__DEFINES/radio.dm
  code/_globalvars/lists/objects.dm
  code/game/gamemodes/battleroyale/royale.dm
  code/game/objects/items/grenades/_grenade.dm
  code/modules/admin/battle_royale.dm
  code/modules/assembly/signaler.dm
  code/modules/client/loadout/loadout_equipment.dm
  code/modules/modular_computers/file_system/programs/signaller.dm
  tgui/packages/tgui/interfaces/Signaler.js
Labels: Administration, TGUI-Changes

#70 Replace awful Discord proxy with TGS DMAPI
  beestation.dme
  code/__HELPERS/roundend.dm
  code/modules/admin/admin.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/client/verbs/ooc.dm
  code/modules/discord/discord.dm
  code/modules/relay/relay.dm
  config/config.txt
  tools/discord/config.yml
  tools/discord/server.py
Labels: Administration, Config Update, tools

#62 Wall security
  _maps/map_files/CorgStation/CorgStation.dmm
  code/__DEFINES/maps.dm
  code/__HELPERS/turfs.dm
  code/controllers/subsystem/job.dm
  code/game/gamemodes/battleroyale/royale.dm
  code/modules/admin/battle_royale.dm
  code/modules/shuttle/on_move.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/supply.dm
  icons/effects/fields.dmi
Labels: Administration, mapping, sprites

#75 Updated elgohr/Publish-Docker-Github-Action to a supported version (v5)
  .github/workflows/docker.yml
Labels: GitHub
